@import '../../styles/variables';

.movie-trailer-container {

  .trailer-swiper-container {
    position: relative;
    overflow: hidden;
    margin: auto;
  
    .swiper-wrapper {
      margin: 0 auto;
      .swiper-slide {
        iframe {
          border: none;
          border-radius: 10px;
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: $secondary-color;
    }
  }

  .no-movie-trailer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    &_text {
      font-size: 1.2em;
      font-weight:400;
    }
  }
}
  


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (min-width: 1200px) {
.trailer-swiper-container {
    width: 35%;
  }
}

@media all and (max-width: 480px) {
  .swiper-slide {
    iframe {
      height: 350px;
      width: 275px;
    }
  }
}