@import '../../styles/variables';

.movie-cast-container {
  .swiper-container {
    height: auto;
    width: 70%;
    padding: 20px 5px;
    background-color: $light-grey;
    box-shadow: 0 12px 10px #777;
    border-radius: 5px;
    .swiper-slide {
      text-align: center;
      transition: transform .3s;
      opacity: 0.9;

      //swiper-slide_image
      &_image {
        border-radius: 5px;
        height: 250px;
      }
      &:hover {
        opacity: 1;
        transform: scale(1.05);
        transition: transform .3s;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: $secondary-color;
    }
  }
}
