@import "../../styles/variables";

.movie-recommendations-container {
  padding-top: 20px;
  .swiper-container {
    width: 70%;
    padding: 20px 5px;
    box-shadow: 0 12px 10px #777;
    margin-bottom: 20px;
    background-color: $light-grey;
    border-radius: 5px;
    .swiper-slide {
      text-align: center;
      transition: transform .3s;
      // swiper-slide_title, swiper-slide_score
      &_title, &_score {
        color: black;
        margin: 5px 0;
        font-weight: bold;
      }
      // swiper-slide_image
      &_image {
        border-radius: 5px;
        height: 250px;
      }
      &:hover {
        opacity: 1;
        transform: scale(1.05);
        transition: transform .3s;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: $secondary-color;
    }
  }
  .no-movie-recommendation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    &_text {
      font-size: 1.2em;
      font-weight:400;
    }
  }
};

@media all and (max-width: 600px) {
  .movie-recommendations-container {
    .swiper-container {
      width: 85%;
    }
  }
}