@import '../../styles/variables';

.movie-reviews-container {
  width: 70%;
  margin: auto;
  padding: 20px 0;

  .movie-reviews-wrapper {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px lightgrey;
    margin: 20px 0;

    &_content {
      text-align: left;
      padding: 0 10px;
    }
    &_url {
      color: #524d5b;
    }
  }
  .no-movie-review-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &_text {
      font-size: 1.2em;
      font-weight: 400;
    }
  }
}