@import '../../styles/variables';

.movie-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
  flex-direction: row;
  padding: 20px 0;

  .movie-header-poster-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    // .movie-header-poster-wrapper_image
    &_image {
      border-radius: 10px 10px 0 0;
      max-width: 100%;
      height: auto;
    }
    &_fav-button {
      padding: 15px;
      border-radius: 0 0 10px 10px;
      outline: none;
      border: none;
      background-color: $light-grey;
    }
    &_fav-button-icon, &_fav-button-text {
      vertical-align: middle;
    }
  }
    .movie-header-info-wrapper {
      padding-left: 40px;
      width: 50%;
    // .movie-header-info-wrapper_title-wrapper
    &_title-wrapper {
        display: flex;
        justify-content: space-between;
        width: 90%;
      }
    // .movie-header-info-wrapper_title
    &_title {
      display: inline-block;
      text-align: left;
      color: $secondary-font-color;
      font-size: 2em;
    }
    span {
      font-weight: 300;
      opacity: 90%;
    }
    .movie-header-info-wrapper-details {
      width: 90%;
      color: $secondary-font-color;
      text-align: left;
      // .movie-header-info-wrapper-details_tagline
      &_tagline {
        color: $secondary-font-color;
        font-weight: 400;
        opacity: 70%;
        font-style: italic;
      }
      strong {
        font-size: 1.1em;
      }
      &_release-date,
      &_genre,
      &_score,
      &_runtime {
        margin: 0
      }
      // .movie-header-info-wrapper-details_crew-list
      &_crew-list {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 16px 0 0;
      }
      // .movie-header-info-wrapper-details_crew-profile
      &_crew-profile {
        width: 20%;
        text-align: left;
        margin-right: 0;
        padding-right: 20px;
        padding-bottom: 10px;
        // .movie-header-info-wrapper-details_crew-profile_person
        &_person {
          margin: 0;
          font-weight: 700;
          padding-bottom: 2px;
          font-size: 1.1em;
        }
        // .movie-header-info-wrapper-details_crew-profile_job
        &_job {
          margin: 0;
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media all and (max-width: 600px) {
  .movie-header-container {
    flex-direction: column;
    padding: 20px 0px;
    .movie-header-info-wrapper {
      width: 85%;
      padding-left: 0px;
      .movie-header-info-wrapper-details {
        strong {
          font-size: 1em;
        }
        p {
          font-size: 0.9em;
        }
        &_crew-profile {
          &_person {
            font-size: 1em;
          }
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media all and (min-width: 601px) and (max-width: 1200px) {
  .movie-header-container {
    padding: 20px 20px;
    .movie-header-info-wrapper {
      padding-left: 20px;
      .movie-header-info-wrapper-details {
        width: 100%;
        strong {
          font-size: 1em;
        }
        p {
          font-size: 0.9em;
        }
        &_crew-profile {
          &_person {
            font-size: 1em;
          }
        }
      }
    }
  }
}