@import '../../styles/variables';

.movie-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  margin-top: 7vh;

  .movie-header-poster-wrapper {
    text-align: left;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    // .movie-header-poster-wrapper_image
    &_image {
      border-radius: 10px 10px 0 0;
    }
    &_fav-button {
      padding: 15px;
      border-radius: 0 0 10px 10px;
      outline: none;
      border: none;
    }
  }
    .movie-header-info-wrapper {
      padding-left: 40px;
      width: 50%;
    // .movie-header-info-wrapper_title
    &_title {
      text-align: left;
      color: $secondary-font-color;
      font-size: 2em;
    }
    span {
      font-weight: 300;
      opacity: 90%;
    }
    .movie-header-info-wrapper-details {
      color: $secondary-font-color;
      text-align: left;
      // .movie-header-info-wrapper-details_tagline
      &_tagline {
        color: $secondary-font-color;
        font-weight: 400;
        opacity: 70%;
        font-style: italic;
      }
      strong {
        font-size: 1.1em;
      }
      &_release-date,
      &_genre,
      &_score,
      &_runtime {
        margin: 0
      }
      // .movie-header-info-wrapper-details_crew-list
      &_crew-list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 16px 0 0;
      }
      // .movie-header-info-wrapper-details_crew-profile
      &_crew-profile {
        width: 33%;
        text-align: left;
        margin-right: 0;
        padding-right: 20px;
        // .movie-header-info-wrapper-details_crew-profile_person
        &_person {
          margin: 0;
          font-weight: 700;
          padding-bottom: 2px;
          font-size: 1.2em;
        }
        // .movie-header-info-wrapper-details_crew-profile_job
        &_job {
          margin: 0;
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .movie-header-container {
    height: 60vh;
  }
}