@import '../../styles/variables';

.actor-movie-credits-container {
  padding: 20px 0;
  .swiper-container {
    width: 70%;
    padding: 20px 5px;
    box-shadow: 0 12px 10px #777;
    background-color: $light-grey;
    border-radius: 5px;
    .swiper-slide {
      text-align: center;
      transition: transform .3s;
      // swiper-slide_title, swiper-slide_score
      &_title, &_score {
        color: black;
        margin: 5px 0;
        font-weight: bold;
      }
    }
  }
}