@import '../../styles/variables';

.movie-reviews-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 70%;
  margin: auto;
  padding: 20px 0;

  .movie-reviews-wrapper {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px lightgrey;
    margin-bottom: 5px;
    background-color: white;

    &_content {
      text-align: left;
      padding: 0 10px;
      overflow: hidden;
    }
    &_url {
      color: #524d5b;
      &:hover {
        color: $tertiary-color;
      }
    }
  }
  .no-movie-review-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &_text {
      font-size: 1.2em;
      font-weight: 400;
    }
  }

  .movie-review-button-wrapper {
    display: flex;
    justify-content: flex-end;
    
    &_button {
      border: none;
      background: white;
      color: #524d5b;
      &:hover {
        color: $tertiary-color;
        text-decoration: underline;
      }
    }
  }
}

@media all and (max-width: 600px) {
  .movie-reviews-container {
    width: 90%;
  }
}