@import '../../styles/variables';

.header-swiper-container {
  overflow: hidden;
  width: 100%;
  padding-top: 7vh;
  margin-bottom: 3rem;

  .header-content {
    position: absolute;
    bottom: 4em;
    left: 4em;
    color: $primary-font-color;
    opacity: 75%;

    // .header-content_title
    &_title {
      margin-bottom: 0;
      padding-bottom: 10px;
    }
    // .header-content_score
    &_score {
      margin-top: 0;
      font-size: 1.1em;
      font-weight: 700;
    }
  }

  .swiper-slide {
    &_header {
      height: auto;
      width: 100%;
      opacity: 50%;
    }
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: $tertiary-color;
  }
  .swiper-pagination {
    margin-top:7vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (min-width: 1200px) {
  .header-swiper-container {
    height: 94vh;
  }
}