@import "../../styles/variables";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7vh;
  background-color: #1b242f;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &_form {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 0 auto;
  }

  &_search-input {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-size: 1.1em;
    overflow: hidden;
    flex: 2 250px;
    &:focus {
      outline: none;
    }
  }

  &_search-button {
    height: 40px;
    padding: 10px 26px;
    border-radius: 30px;
    border: none;
    flex: 1 0 90px;
    font-size: 1.1em;
  }
}
