@import "../../styles/variables";

.pagination {
  list-style: none;
  color: $primary-font-color;

  &_page-item {
    display: inline;
    padding: 0px 4px;
    cursor: pointer;
    color: $primary-font-color;;
  }
}

.pagination a.active {
  color: $secondary-color;
}

.pagination a:hover:not(.active) {
  color: $tertiary-color;
}