@import "../../styles/variables";

.pagination {
  list-style: none;
  color: $primary-font-color;

  &_page-item {
    display: inline;
    padding: 0px 4px;
  }
  &_page-link {
    color: $primary-font-color;
    background: transparent;
    border: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    &:hover {
      color: $tertiary-color;
    }
  }
}

.pagination button.active {
  color: $secondary-color;
}
