@import "../../styles/variables";

.movie-recommendations-container {
  padding-top: 20px;
  .swiper-container {
    width: 70%;

    .swiper-slide {
      text-align: center;
      transition: transform .3s;
      opacity: 80%;
      // swiper-slide_title, swiper-slide_score
      &_title, &_score {
        color: black;
        margin: 5px 0;
        font-weight: bold;
      }
      // swiper-slide_image
      &_image {
        border-radius: 5px;
        height: 250px;
      }
      &:hover {
        opacity: 1;
        transform: scale(1.1);
        transition: transform .3s;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: $secondary-color;
    }
  }
};