@import "../../styles/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  // navbar_logo
  &_logo {
    margin: 0 auto;
    padding-left: 10px;
    width: 35px;
    cursor: pointer;
  }
  &_form-wrapper {
    flex: 1;
    .form {
      justify-content: center;
      display: flex;
      width: 100%;
      &_search-input {
        padding: 2px 2px;
        height: 25px;
        border-radius: 30px;
        border: none;
        overflow: hidden;
        width: 60%;
        &:focus {
          outline: none;
        }
        &::placeholder {
          padding-left: 5px;
        }
      }
      // navbar_search-button
      &_search-button {
        border-radius: 30px;
        padding: 7px 10px;
        border: none;
        font-weight: 700;
        margin-left: -40px;
        color: $secondary-font-color;
        background: linear-gradient(225deg, $tertiary-color 0%, $secondary-color 100%);
        
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  // navbar_links
  &_links {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
    a {
      text-decoration: none;
    }
    // navbar_links_button
    &_button {
      color: $secondary-font-color;
      border: none;
      background: $primary-color;
      font-weight: bold;
      letter-spacing: 2.5px;
      font-size: 1.05em;
      padding: 0 10px;
      outline:none;
      &:hover {
        cursor: pointer;
        color: $tertiary-color;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .navbar {
    &_links {
      display: none;
    }
  }
}



@media all and (min-width: 768px) {
  .navbar {
    &_logo {
      width: 50px;
    }
    &_form-wrapper {
      .form {
        &_search-input {
          padding: 7.5px 20px;
          font-size: 1.1em;
        }
        // navbar_search-button
        &_search-button {
          padding: 8px 20px;
          height: 40px;
          font-size: 1.1em;
        }
      }
    }
  }
}