@import "../../styles/variables";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7vh;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  // navbar_logo
  &_logo {
    margin: 0 auto;
    padding-left: 10px;
    width: 50px;
    cursor: pointer;
  }
  // navbar_form
  &_form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 50%;
  }
  // navbar_search-input
  &_search-input {
    padding: 8px 20px;
    border-radius: 30px;
    border: none;
    font-size: 1.1em;
    overflow: hidden;
    width: 60%;
    &:focus {
      outline: none;
    }
  }
  // navbar_search-button
  &_search-button {
    height: 40px;
    padding: 8px 20px;
    border-radius: 30px;
    border: none;
    font-size: 1.1em;
    font-weight: 700;
    margin-left: -40px;
    color: $secondary-font-color;
    background: linear-gradient(225deg, $tertiary-color 0%, $secondary-color 100%);
    
    &:hover {
      color: $primary-color;
    }
  }
  // navbar_links
  &_links {
    display: flex;
    // navbar_links_button
    &_button {
      color: $secondary-font-color;
      border: none;
      background: $primary-color;
      font-weight: bold;
      letter-spacing: 2.5px;
      font-size: 1.05em;
      padding: 0 15px;
      outline:none;
      &:hover {
        cursor: pointer;
        color: $tertiary-color;
      }
    }
  }
}

@media only screen and (max-width: 485px) {
  .navbar {
    &_form {
      width: 70%;
    }
    &_search-input {
      font-size: 1em;
    }
    &_search-button {
      font-size: 1em;
      padding: 5px 15px;
    }
    &_logo {
      width:35px;
    }
  }
}