@import '../../styles/variables';

.swiper-container {
  .swiper-slide {
    text-align: center;
    transition: transform .3s;
    opacity: 0.9;

    //swiper-slide_image
    &_image {
      border-radius: 5px;
      height: 250px;
    }
    // swiper-slide_title, swiper-slide_score
    &_title, &_score {
      color: $primary-font-color;
      margin: 5px 0;
      font-weight: bold;
    }
    //swiper-slide_score-icon
    &_score-icon {
      padding-right: 3px;
    }

    &:hover {
      opacity: 1;
      transform: scale(1.05);
      transition: transform .3s;
    }

    a:link, a:active, a:visited a:hover {
      text-decoration: none;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: $secondary-color;
  }
}